.category-main{
    height: 100vh;
    min-height: 100%;
    position: relative;
    background-color:#f7fafc ;
    display: flex;
    }
    .category-content-top{
        display: flex;
        flex: 1;
        justify-content: center;
    
    }
    .category-content-center{
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    .category-content-buttom{
        display: flex;
        flex-direction: column;
        flex:1;
        width: 100%;
        max-width: 750px;
    }
    .content-title{
        font-weight: 600;
        text-align: center;
        background-color: #f7fafc;
        z-index: 1;
        text-align: center;
        color: #4a5568;
        font-size: 31px;
    }
    .category-content-border{
      position: relative;
      height: 80%;
      display: flex;
      flex: 1;
      flex-direction: column;
    }
    .category-content{
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      position: absolute;
      
    }
    .category-flex{
       max-width: 500px;
       width: 100%;
       
    }
    .category-box-content{
        margin: 0 -11px;
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }
   

    .icon-container{
        padding: 0;
        margin-top: -10px;
        position: relative;
        height: 70px;
        width: 100px;
    }
   
    .contunie-content{
    height: 90px;
    border-top: 1px solid #e2e8f0;
    }
    .contunie-button-content{
  
        display: flex;  
        justify-content: space-between;
        margin-right: auto;
        margin-left: auto;
        max-width: 500px;
    }
    .contunie-button,.back-button{
        font-weight: 600!important;
        font-size: 1rem!important;
        padding: .657rem 1.25rem!important;
    }
    
    .label-url{
        font-size: 18px;
        color: #4a5568;
        font-weight: 600;
    }
    .form-control{
        box-shadow: 0 1px 2px #edf2f7;
        
    }
    #url::placeholder{
        color: #4a5568;
        opacity: 0.2;
    }
    .form-control-lg{
        display: block;
        width: 100%;
        height: 70px!important;
        padding: 1.125rem 1.875rem!important;
        font-size: 1.25rem!important;
        line-height: 1.5;
        border-radius: .5rem;
        font-weight: 400;
        color: #4a5568;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #cbd5e0;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    }
    