.category-main{
height: 100vh;
min-height: 100%;
position: relative;
background-color:#f7fafc;
display: flex;
}
.category-content-top{
    display: flex;
    flex: 1;
    justify-content: center;

}
.category-content-center{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.category-content-buttom{
    display: flex;
    flex-direction: column;
    flex:1;
    width: 100%;
    max-width: 750px;
}
.content-title{
    font-weight: 600;
    text-align: center;
    background-color: #f7fafc;
    z-index: 1;
    text-align: center;
    font-size: 31px;
    color: #4a5568;
}
.lower-title{
    font-size: 18px;
    color: #4a5568;
    font-weight: 600;
    display: inline-block;
    margin-bottom: .5rem;
}
.category-content-border{
  position: relative;
  height: 80%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center; 
}
.category-content{
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  width: 100%;
  position: absolute;
  justify-content: center;  
}
.category-flex{
    display: flex;
    flex-direction: column;
    margin-right: -1rem;
    margin-left: -1rem;

}
#category-box-content{
    margin: 0 -11px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.category-box-item{
    border: 1px solid #e1e1ed;
    background-color: #fff;
    display:inline-block;
    transition: backgraund .3s ease;
    width: 170px;
    height: 170px;
    vertical-align: top;
    margin-left: 12px;
    margin-right: 11px;
    border-radius: .375rem;
}
.category-box-item label{
    box-sizing: border-box;
    color: #a0aec0;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 16px;
    height: 100%;
    line-height: 1;
    padding: 16px 8px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.icon-container{
    padding: 0;
    margin-top: -10px;
    position: relative;
    height: 70px;
    width: 100px;
}
#category-box-content li label i,img{
    font-size: 52px;
    color: #4285F4;
    
}
.icon-container i{
    display: block;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#category-box-content label h3{
    font-weight: 500;
    font-size: 16px;
    display: block;
    text-align: center;
    width: 100%;
    color: #4285F4;
    margin: 0 0 10px;
}
.display-none{
    display: none;
}
#category-box-content .category-box-item:hover{
    background: #4285F4;
    
}
#category-box-content .category-box-item:hover label h3,
#category-box-content .category-box-item:hover .icon-container i{
    color: #fff;
    
}

.category-content .category-box-item.selected{
    background-color: #4285F4;
    border: 1px solid #4285F4;
    color:#fff!important;
}
#category-box-content .category-box-item.selected label h3,
#category-box-content .category-box-item.selected .icon-container i{
    color: #fff;
    
}
.contunie-content{
height: 90px;
border-top: 1px solid #e2e8f0;
}
.contunie-button-content{
  
    display: flex;  
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    max-width: 500px;
}
.contunie-button,.back-button{
    font-weight: 600!important;
    font-size: 1rem!important;
    padding: .657rem 1.25rem!important;
}

@media  screen and (max-width:281px) {

    .category-main{height: 185vh;}
}
@media  screen and (min-width:282px) and (max-height:570px) {

    .category-main{height: 155vh;}
}
 @media  screen and (min-height:571px) and (max-height:654px) {

    .category-main{height: 135vh;}
}
@media  screen and (min-height:655px) and (max-height:670px) {

    .category-main{height: 120vh;}
}
@media  screen and (min-height:671px) and (max-height:738px) {

    .category-main{height: 110vh;}
}
@media  screen and (min-height:739px) and (max-height:824px) {

    .category-main{height: 100vh;}
}
@media  screen and (min-width:768px){

    .category-main{height: 100vh!important;}
}


@media  screen and (max-width:767px) {

    
    .category-box-item{width: 150px;height: 135px;}
    #category-box-content li label i, img {font-size: 45px;}
    .icon-container{height: 45px;}
    .lower-title{text-align: center;}
    #category-box-content{margin: 0!important;justify-content: space-evenly!important;}
    .category-box-item label{height: 115%;}
    
}
@media screen and (max-width:321px) {
    .category-box-item{width: 135px!important;}
     
}
 @media screen and (max-width:281px) {
    .category-box-item{width: 115px!important;height: 120px!important;}
     
 }
 
 




