
 .login-content{
    height: 100vh;
   
} 
.login-user-text{
  font-size: 31px;
  font-weight: 600; 
  margin-bottom: 2.5rem; 
} 
 .login-text-continue{
    font-weight: 600;
    color: #4285f4;
} 
.widget-content{
    max-width: 400px;
    /* height: 140px;
     */
}
.bg-gray-300{
    background: #e2e8f0;
}
.main-content{
    background-color: #f7fafc;
}
.login-button{
    padding:10.512px 20px!important ;
    font-size: 1rem!important;
    font-weight: 600!important;
}